In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('D:\\OneDrive\\Documents\\Personal Project Portfolio\\PP00017_Prediction of the Success of Start-Ups\\artifacts\\train_audit.csv')

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130292 entries, 0 to 130291
Data columns (total 23 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   yrs_of_operation          130292 non-null  int64
 1   yrs_since_last_funding    130292 non-null  int64
 2   degree_length             130292 non-null  int64
 3   per_exp_at_coy_start      130292 non-null  int64
 4   sponsor                   130292 non-null  int64
 5   speaker                   130292 non-null  int64
 6   organizer                 130292 non-null  int64
 7   exhibitor                 130292 non-null  int64
 8   employee_count            130292 non-null  int64
 9   total_funding_usd         130292 non-null  float64
 10  organization_description  130292 non-null  object
 11  people_description        130292 non-null  object
 12  status                    130292 non-null  object
 13  category_list             130292 non-null  object
 14  category_groups_list      130292 non-null  object
 15  primary_role              130292 non-null  object
 16  gender                    130292 non-null  object
 17  featured_job_title        130292 non-null  object
 18  institution_name          130292 non-null  object
 19  degree_type               130292 non-null  object
 20  subject                   130292 non-null  object
 21  degree_is_completed       130292 non-null  bool
 22  success                   130292 non-null  int64
dtypes: bool(1), float64(1), int64(10), object(11)
memory usage: 22.0+ MB
None

In [5]:
df['degree_is_completed'].unique()

array([False,  True])

In [11]:
import pandas as pd
print(pd.__version__)

2.2.2

In [12]:
df_type = pd.read_csv('D:\\OneDrive\\Documents\\Personal Project Portfolio\\PP00017_Prediction of the Success of Start-Ups\\artifacts\\train_dtype.csv')

In [13]:
df_type

          0
0     int32
1     int32
2     int32
3     int32
4     int32
5     int32
6     int32
7     int32
8     int64
9   float64
10   object
11   object
12   object
13   object
14   object
15   object
16   object
17   object
18   object
19   object
20   object
21   object
22    int64

In [14]:
df.dtypes

yrs_of_operation              int64
yrs_since_last_funding        int64
degree_length                 int64
per_exp_at_coy_start          int64
sponsor                       int64
speaker                       int64
organizer                     int64
exhibitor                     int64
employee_count                int64
total_funding_usd           float64
organization_description     object
people_description           object
status                       object
category_list                object
category_groups_list         object
primary_role                 object
gender                       object
featured_job_title           object
institution_name             object
degree_type                  object
subject                      object
degree_is_completed            bool
success                       int64
dtype: object