In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('D:\\OneDrive\\Documents\\Personal Project Portfolio\\PP00017_Prediction of the Success of Start-Ups\\artifacts\\train_audit.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130292 entries, 0 to 130291
Data columns (total 23 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   yrs_of_operation          130292 non-null  int64
 1   yrs_since_last_funding    130292 non-null  int64
 2   degree_length             130292 non-null  int64
 3   per_exp_at_coy_start      130292 non-null  int64
 4   sponsor                   130292 non-null  int64
 5   speaker                   130292 non-null  int64
 6   organizer                 130292 non-null  int64
 7   exhibitor                 130292 non-null  int64
 8   employee_count            130292 non-null  int64
 9   total_funding_usd         130292 non-null  float64
 10  organization_description  130292 non-null  object
 11  people_description        130292 non-null  object
 12  status                    130292 non-null  object
 13  category_list             130292 non-null  object
 14  category_groups_list      130292 non-null  object
 15  primary_role              130292 non-null  object
 16  gender                    130292 non-null  object
 17  featured_job_title        130292 non-null  object
 18  institution_name          130292 non-null  object
 19  degree_type               130292 non-null  object
 20  subject                   130292 non-null  object
 21  degree_is_completed       130292 non-null  bool
 22  success                   130292 non-null  int64
dtypes: bool(1), float64(1), int64(10), object(11)
memory usage: 22.0+ MB